@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot password";
}

<section class="py-13" data-animated-id="1">
    <div class="container">
        <div class="row login-register">
            <div class="col-lg-6 offset-3">
                <div class="card border-0 shadow-xxs-2 mb-6">
                    <div class="card-body px-8 py-6">
                        <h2 class="card-title fs-30 font-weight-600 text-dark lh-16 mb-2">
                            Forgot Password
                        </h2>
                        <form class="form" method="post" asp-area="" asp-controller="Auth" asp-action="ForgotPassword">
                            
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-4">
                                <label for="username-1">Email</label>
                                <input type="email" class="form-control form-control-lg border-0" asp-for="Email" placeholder="Your email">
                            </div>
                            
                            
                            <button type="submit" class="btn btn-primary btn-lg btn-block rounded">Submit</button>
                            <a href="/Auth/Login" class="btn btn-accent btn-lg btn-block rounded">Cancel</a>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $(function () {

        });
    </script>
}