@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            Register
        </li>
    </ol>
</nav>


<div class="card">
    <div class="card-body">
        <h3 class="card-title font-weight-bold">Register</h3>
        <h6 class="card-subtitle text-muted">Enter your details to register</h6>

        <form asp-area="" asp-controller="Auth" asp-action="Register"
              method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(excludePropertyErrors: true, string.Empty,
                new { @class="text-danger small" })
            <div class="row form-group mt-3">
                <div class="col-lg-6">
                    <label asp-for="FirstName" class="col-form-label font-weight-bold">First name</label>
                    <input type="text" asp-for="FirstName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="FirstName" class="text-danger small"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="LastName" class="col-form-label font-weight-bold">Last name</label>
                    <input type="text" asp-for="LastName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="LastName" class="text-danger small"></span>
                </div>
            </div>
            <div class="row form-group mt-3">
                <div class="col-lg-12">
                    <label asp-for="Email" class="col-form-label font-weight-bold">Email</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label asp-for="Password" class="col-form-label font-weight-bold">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="ConfirmPassword" class="col-form-label font-weight-bold">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12">

                </div>
            </div>
            <hr />

            <div class="row form-group ">
                <div class="col-lg-12 d-flex justify-content-between">
                    <button class="btn btn-success">
                        Submit
                    </button>

                    <a asp-controller="Auth" asp-action="Login">Already have an account?</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $(function () {

        });
    </script>
}