@model ContactCreateViewModel
@{
    ViewData["Title"] = "Contact";
}

@section Styles{

}

<section class="py-14 py-lg-17 page-title bg-overlay-opacity-02"
         style="background-image: url('images/BG4.jpg');background-size: cover;background-position: center">
    <div class="container">
        <h1 class="fs-22 fs-md-42 lh-15 mb-8 mb-lg-13 font-weight-normal text-center mxw-774 pt-2 text-white position-relative z-index-3" data-animate="fadeInDown">
            For more
            information about our services, get in touch with our expert consultants
        </h1>
    </div>
</section>
<section>
    <div class="container">
        <div class="card border-0 mt-n13 z-index-3 pb-8 pt-10">
            <div class="card-body p-0">
                <h2 class="text-heading mb-2 fs-22 fs-md-32 text-center lh-16">
                    We're always eager to hear from
                    you!
                </h2>
                @*<p class="text-center mxw-670 mb-8">
                        Lorem ipsum dolor sit amet, consec tetur cing elit. Suspe ndisse suscorem ipsum dolor sit ametcipsum
                        ipsumg consec tetur cing elitelit.
                    </p>*@
                <form class="mxw-751 px-md-5" id="FrmContact"
                      method="post" asp-area="" asp-controller="Contact" asp-action="Index">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(excludePropertyErrors: true, null, new { @class = "text-danger small" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="First Name"
                                       class="form-control form-control-lg border-0" asp-for="FirstName">
                                <span asp-validation-for="FirstName" class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Last Name" asp-for="LastName"
                                       class="form-control form-control-lg border-0">
                                <span asp-validation-for="LastName" class="text-danger small"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input placeholder="Your Email"
                                       class="form-control form-control-lg border-0"
                                       type="email" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Your Mobile" asp-for="Mobile"
                                       class="form-control form-control-lg border-0">
                                <span asp-validation-for="Mobile" class="text-danger small"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-6">
                        <textarea class="form-control border-0" placeholder="Message" asp-for="Message"
                                  rows="5"></textarea>
                        <span asp-validation-for="Message" class="text-danger small"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-primary px-9">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        @*<div class="row mb-12">
                <div class="col-md-4 mb-6">
                    <div class="card border-0">
                        <div class="media align-items-end">
                            <span class="text-primary fs-40 lh-1 d-inline-block mr-3">
                                <svg class="icon icon-f1"><use xlink:href="#icon-f1"></use></svg>
                            </span>
                            <div class="media-body">
                                <h4 class="fs-22 lh-15 mb-0 text-heading">San Francisco</h4>
                            </div>
                        </div>
                        <div class="card-body px-0 pt-3 pb-0">
                            <p class="card-text mb-0">
                                58 Howard Street #2 San Francisco, CA 941
                            </p>
                            <a href="tel:12390068668"
                               class="d-block text-heading lh-2 hover-primary text-decoration-none">
                                123 900
                                68668
                            </a>
                            <a href="mailto:contact.sanfrancisco@homeid.com"
                               class="d-block text-body hover-primary text-decoration-none">contact.sanfrancisco@homeid.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-6">
                    <div class="card border-0">
                        <div class="media align-items-end">
                            <span class="text-primary fs-40 lh-1 d-inline-block mr-3">
                                <svg class="icon icon-f2"><use xlink:href="#icon-f2"></use></svg>
                            </span>
                            <div class="media-body">
                                <h4 class="fs-22 lh-15 mb-0 text-heading">New York</h4>
                            </div>
                        </div>
                        <div class="card-body px-0 pt-3 pb-0">
                            <p class="card-text mb-0">
                                5685 Hunter Estates, New York
                            </p>
                            <a href="tel:123-900-68668"
                               class="d-block text-heading lh-2 hover-primary text-decoration-none">
                                123 900
                                68668
                            </a>
                            <a href="mailto:contact.newyork@homeid.com"
                               class="d-block text-body hover-primary text-decoration-none">contact.newyork@homeid.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-6">
                    <div class="card border-0">
                        <div class="media align-items-end">
                            <span class="text-primary fs-40 lh-1 d-inline-block mr-3">
                                <svg class="icon icon-f3"><use xlink:href="#icon-f3"></use></svg>
                            </span>
                            <div class="media-body">
                                <h4 class="fs-22 lh-15 mb-0 text-heading">Russia</h4>
                            </div>
                        </div>
                        <div class="card-body px-0 pt-3 pb-0">
                            <p class="card-text mb-0">
                                42 Lockman Gardens, Russia
                            </p>
                            <a href="tel:123-900-68668"
                               class="d-block text-heading lh-2 hover-primary text-decoration-none">
                                123 900
                                68668
                            </a>
                            <a href="mailto:contact.russia@homeid.com"
                               class="d-block text-body hover-primary text-decoration-none">contact.russia@homeid.com</a>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</section>
<section>

    <div id="map" class="google-map mt-0" style="height: 500px;"></div>

    @*<div id="map" class="mapbox-gl map-point-animate"
        style="height: 550px"
        data-mapbox-access-token="pk.eyJ1IjoiYXNraG9yaXpvbnMiLCJhIjoiY2ttM21kNXBoNG9xNDJ3cW1ibDRsdXgyOCJ9.HVJJOijEtV5imJZBOS26VA"
        data-mapbox-options='{"center":[-73.981566, 40.739011],"setLngLat":[-73.981566, 40.739011]}'
        data-mapbox-marker='[{"position":[-73.981566, 40.739011],"className":"marker","backgroundImage":"images/googlle-market-01.png","backgroundRepeat":"no-repeat","width":"32px","height":"40px"}]'></div>*@
</section>
<div id="modal-placeholder"></div>

@section Scripts{
    <script src="~/lib/bootbox.js/bootbox.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        $.validator.unobtrusive.parse('#FrmContact');
    </script>

    <script src="~/js/gmap-script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIpguZlDbrgLJeY9rFEj1GkTwRnsg5gnE&libraries"></script>


    <script>
        $(function () {

            initMap('map', 33.6678458, 73.0723382, '../images/map-marker.png');

            let placeholderElement = $('#modal-placeholder');

            $("#FrmContact").on("submit", function (e) {
                e.preventDefault();
                let frm = $(this);

                if ($('#FrmContact').valid()) {
                    bootbox.confirm("Are you sure to proceed?", function (result) {
                        if (result) {
                            let frm = $("#FrmContact");
                            let url = frm.attr("action");
                            let type = frm.attr("method");

                            $.ajax({
                                url: url,
                                type: type,
                                data: frm.serialize(),
                                success: function (response) {
                                    if (response.status == true) {
                                        var path = "/Contact/Message";
                                        $.get(path).done(function (response) {
                                            placeholderElement.html(response);
                                            placeholderElement.find('.modal').modal('show');
                                        });
                                    } else {
                                        toastr.error(response.message);
                                    }
                                },
                                error: function () {

                                }
                            });
                        }
                    });
                }
            });

            placeholderElement.on('click', '[data-save="modal-message"]', function (event) {
                event.preventDefault();
                //var form = $(this).parents('.modal').find('form');

                placeholderElement.find('.modal').modal('hide');
                window.location = "/Contact";
            });
        });
    </script>
}