@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}


<footer class="bg-dark pt-10 pb-8 footer">
    <div class="container">

        <div class="text-center text-white fs-22 lh-2 font-weight-500 mxw-751 mb-4">
            Everything you need to know when looking at different types of properties for sale all in one place.
        </div>
        <ul class="list-inline text-center mb-5">
            <li class="list-inline-item mr-3 text-white opacity-7">
                Office # 206, Second Floor, Israr Plaza, Peshawar Road, Rawalpindi
            </li>
        </ul>
        @*<ul class="list-inline text-center mb-5">
            <li class="list-inline-item mr-8 mb-3">
                <a href="#"><img src="~/images/footer-logo-01.png" alt="Footer Logo 01"> </a>
            </li>
            <li class="list-inline-item mr-8 mb-3">
                <a href="#"><img src="~/images/footer-logo-02.png" alt="Footer Logo 02"> </a>
            </li>
            <li class="list-inline-item mr-8 mb-3">
                <a href="#"><img src="~/images/footer-logo-03.png" alt="Footer Logo 03"> </a>
            </li>
            <li class="list-inline-item">
                <a href="#"><img src="~/images/footer-logo-04.png" alt="Footer Logo 04"> </a>
            </li>
        </ul>*@
        <ul class="list-inline text-center mb-6">
            <li class="list-inline-item mr-3 text-white opacity-7">
                © @DateTime.Now.Year Property Point. All Rights Reserved
            </li>
            <li class="list-inline-item divider mr-3"></li>
            <li class="list-inline-item mr-3">
                <a href="tel:(+92)3330484837" class="text-white font-weight-bold fs-15">(+92) 333 0484837</a>
            </li>
            <li class="list-inline-item divider mr-3"></li>
            <li class="list-inline-item">
                <a href="mailto:saqlain@propertypointbuilders.com"
                   class="text-white opacity-7 hover-white">info@askhorizons.com</a>
            </li>
        </ul>
        <ul class="list-inline text-center mb-2">
            <li class="list-inline-item mr-0">
                <a href="#" class="text-white opacity-5 fs-18 px-4 hover-primary opacity-hover-10">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item mr-0">
                <a href="https://www.facebook.com/askhorizons" target="_blank" class="text-white opacity-5 fs-18 px-4 hover-primary opacity-hover-10">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item mr-0">
                <a href="#" class="text-white opacity-5 fs-18 px-4 hover-primary opacity-hover-10">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="list-inline-item mr-0">
                <a href="#" class="text-white opacity-5 fs-18 px-4 hover-primary opacity-hover-10">
                    <i class="fab fa-pinterest"></i>
                </a>
            </li>
            <li class="list-inline-item mr-0">
                <a href="#" class="text-white opacity-5 fs-18 px-4 hover-primary opacity-hover-10">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>